:root {
	--red:#d50000;
	--black:#000000;
	--pink:#f5deb5;
	--blue:#023dcc;
	--yellow:#fecd00;
	--white:#ececec;
}

.black{
    background-color: var(--black);
}
.pink{
    background-color: var(--pink);
}

.blue{
    background-color: var(--blue);
}

.yellow{
    background-color: var(--yellow);
}

.white{
    background-color: var(--white);
}

.red{
    background-color: var(--red);
}
[class^='col-'] {
    padding: 20px;
}